<table id="deals">
  <thead>
    <tr>
      <th>name</th>
      <th>price</th>
      <th>expires</th>
      
    </tr>
  </thead>
  <% @deals.each do |deal| %>
    <tr>
      <td>
        <%= deal.name %>
      </td>
      <td>
        <%= deal.price %>
      </td>
      <td>
        <%= deal.expires %>
      </td>
     
    </tr>
  <% end %>
</table>
